<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure HTTPS is used (optional)
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Hide PHP file extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Redirect verifyotp to its folder or file
    RewriteRule ^verifyotp$ ./verifyotp/verify_otp [L]

    # Default Rewrite Rules
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?page=$1 [L]
</IfModule>
