<IfModule mod_rewrite.c>
Header set Access-Control-Allow-Origin "*"
RewriteEngine On

# Hide PHP file extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Default Rewrite Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$2/?page=$1 [L]
</IfModule>
