<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect all admin pages if OTP is not verified
RewriteCond %{REQUEST_URI} ^/admin/(.*)$
RewriteCond %{QUERY_STRING} !otp_verified=true [NC]
RewriteRule ^ /verifyotp [R=302,L]
</IfModule>
